*{
	margin:0;
	padding:0;
	border:0;

}
body {
background:#0e0e0e url(images/upper-bg.png) top center no-repeat;

}

h1 {
color:#575757;
font:25px Arial, sans-serif;
margin: 42px 0 25px;
}
p {
font:12px/150% Arial, sans-serif;
color:#4f4f4f;
margin:0;
}
#columns {
clear:both;
overflow:hidden;
}

.col {
float:left;
width:265px;
margin:0 0 0 40px;
}
.read-more{
background-image: url(images/read-more.jpg);
background-repeat: no-repeat;
width:98px;
height:31px;
display:block;
}
#page{
background-image: url(images/page-button.jpg);
background-repeat: no-repeat;
width:76px;
height:29px;
display:block;
color:#fff;
text-align:center;
padding-top:5px;
}

#wrapper {
background-color:#fff;
width:960px;
margin:40px auto;
border-radius:10px;
box-shadow: inset 0 0 8px #ddd;
}

.col ul li a {
font:12px Arial, sans-serif;
text-decoration:none;
}

.col ul li {
list-style:none;
background-image:url(images/list.jpg);
background-repeat:no-repeat;
background-position:0 6px;
padding: 2px 0 7px 16px;
}

.col li:first-child {
border-bottom:1px dotted #a4a4a4;
padding: 0px 0 7px 16px;
}

.col li:last-child {
border-top:1px dotted #a4a4a4;
padding-bottom: 46px;
}

#columns .col p {
padding:25px 0 12px;
}

header #logo {
position:relative;
float:left;
top:35px;
left:40px;
}

header ul li {
display:inline;
padding:0 20px;
position:relative;
float:right;
top:58px;
right:-220px;
}

header li a {
font:12px Arial, sans-serif;
text-decoration:none;
color:gray;
font-weight: bold;
}

/*header ul li:last-child {
padding:2px 20px 5px;
}*/

/*#wrapper ul {
margin:0;
padding:0;
}*/

#tel {
background:url(images/tel.jpg) no-repeat scroll 0 0 transparent;
color:#C7C7C7;
display:block;
float:right;
font:bold 18px Arial,sans-serif;
height:24px;
padding:2px 0 10px 83px;
width:139px;
}

header {
height:98px;
}

section {
background-image:url(images/section-bg.jpg);
background-repeat:no-repeat;
height:336px;
}

#shadow {
position:relative;
top:-127px;
left:489px;
}

section p {
font:29px Trebushed, sans-serif;
color:#fff;
margin:0;
padding:88px 65px 55px 50px;
}

section #button-start{
background-image: url(images/start.jpg);
background-repeat: no-repeat;
width:262px;
height:56px;
display:block;	
margin:-18px 0 0px 47px;
}

section p span {
font-weight: bold;
}
#blurbs {
background-color: #ededed;
position:relative;
height:122px;
clear:both;
overflow:hidden;
z-index:10;
}

#blurbs .reason {
width:33%;
float:left;
}

#blurbs .reason p {
font:12px Arial, sans-serif;
color:#575757;
margin:auto;
display:inline;
padding:0;
}

h2 {
font:bold 15px Arial, sans-serif;
margin:50px 0 0;
color:#575757;
}

.reason img {
padding:32px 20px 16px 51px;
float:left;
}

#left-column,#center-column,#right-column {
float:left;
}

#left-column {
width:190px;
margin:0 40px;
}

#center-column {
width:300px;
padding-bottom:8px;
}

#right-column {
width:280px;
margin:0 40px 0 70px;
}

footer {
background-color:#ededed;
overflow:hidden;
border-radius: 0 0 10px 10px;
background-image: url(images/footer-border.jpg);
background-repeat:  repeat-x;
	clear:both;	
}

#wrapper footer ul li a {
color:#4f4f4f;
text-decoration:none;
font:12px Arial, sans-serif;
}

#left-column ul {
list-style-type:none;
}

footer h2 {
margin:30px 0 25px 0;
}

#center-column p span {
font-weight:700;
color:#000;
padding: 3px 0 0 0;
float:left;
}

#center-column p {
letter-spacing: -0.1px;
}
#center-column h2 > p {
line-height: 115%;
padding: 0 0 13px;
}
#right-column a {
font-weight:700;
text-decoration: none;
color: #0f4db6}

#right-column p {
line-height:120%;
letter-spacing: -0.1px;
}

#copyright {
border-top:1px solid #fff;
clear:both;
}

#copyright p {
padding:25px 40px 5px;
margin:0;
}

#copyright img {
float:right;
position:relative;
right:40px;
bottom:25px;
padding-left:57px;
}

#social img {
padding-right:16px;
padding-left:0;
}

#navigation {
border-bottom:1px solid #CCC;
overflow: hidden;
}

#ball {
margin:-303px 0 0 512px;
z-index:20;
position: absolute;
}
#position-cs-buttons p{
color: #000000;
float: left;
font: bold 20px Arial, sans-serif;
margin: 17px 0 12px 0;
}
#position-cs-buttons .cs-buttons{
 float: left;
    margin: 17px 0 12px 150px;
}
.cs-buttons img{
border:0;
}
#carousel {
height: 294px;
width:439px;
background-image: url(images/goast-bg.png);
 position: relative;
    right: 22px;
    top: 9px;
}
#ball ul li {
list-style-type:none;
display:inline;
float:right;
}

#carousel a {
display:none;
position: absolute;
    top: 45px;
    left:22px;
}

#carousel a:first-child {
display:block;
}
#position-cs-buttons p{
color: #000000;
float: left;
font: bold 20px Arial, sans-serif;
margin: 17px 0 12px 0;
}
#position-cs-buttons .cs-buttons{
 float: left;
    margin: 17px 0 12px 150px;
}
.cs-buttons img{
border:0;
}
#position-cs-buttons {
    position:relative;
    top:-290px;
}

#gratitute {
/*background: blue;*/
height: 100px;
 
background-image:url(images/section-bg.jpg);
background-repeat:repeat-x;}

#gratitute p{
font: bold 25px Arial, sans-serif;
color:white;
margin: 33px 0 0 40px;
float:left;
}
#gratitute p+ p{
font: italic 20px Arial, sans-serif;
float:right;
margin-right:65px;}

#col-1 p{
	font: 13px Arial, sans-serif;
	
}
#col-1{
float: left;
width: 385px;
height:475px;
/*border-right: dfdfdf;*/
/*box-shadow: inset 0 0 8px #ddd;*/
margin: 30px 274px 61px 41px
}

#col-2{
float:left;
width:230px;
height: 566px;
/*margin-left: 24px;*/}
#col-shadow{
    float:left;
    width:24px;
height: 566px;
background: #dfdfdf; /* Для старых браузров */
background: -moz-linear-gradient(left,#dfdfdf, #fff);
background: -webkit-linear-gradient(left,#dfdfdf, #fff);
background: -o-linear-gradient(left,#dfdfdf, #fff);
background: -ms-linear-gradient(left,#dfdfdf, #fff);

}

#col-2 h2{
background: #cfcfcf; /* Для старых браузров */
background: -moz-linear-gradient(left,#cfcfcf, #fff);
background: -webkit-linear-gradient(left,#cfcfcf, #fff);
background: -o-linear-gradient(left,#cfcfcf, #fff);
background: -ms-linear-gradient(left,#cfcfcf, #fff);
position:relative;
margin-bottom: 19px;
color:#1c1c1c;
}
#col-2 a img {
    margin:0px 10px 0 0;
}
#col-2 a {
    text-decoration: none;
font:12px/150% Arial, sans-serif;
color:#4f4f4f;
margin:0;

}
.input{
	width: 385px;
	height: 33px;
}


.input, #tt{
	background: #efefef; /* Для старых браузров */
	background: -moz-linear-gradient(top,#efefef, #fff);
	background: -webkit-linear-gradient(top,#efefef, #fff);
    background: -o-linear-gradient(top,#efefef, #fff);
    background: -ms-linear-gradient(top,#efefef, #fff);
    border: 2px groove #fff;
    border-radius:5px;
     resize:none;
/*border-image:url(images/field-border.jpg);
/*background-image: - webkit-gradient (radial, center center, 900, center bottom, 0, from (#ddd), to (white));
background-image: -mox-radial-gradient (center, 900px, center bottom, 0, from (#ddd), to (white));*/
/*background-repeat:repeat-x;*/
margin: 14px 0 24px;
}

/*#submit-button{
background-image:url(images/form-submit.jpg);
background-repeat: no-repeat; 
}*/
#submit-button{
	background: -moz-linear-gradient(bottom, #e5e5e5, #fefefe);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    /*d:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');*/
    padding: 1px 15px;
    color: #6c6c6c;
    font: bold 12px 'Myriad Pro', Arial, sans-serif;
      /* -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 1px #f2f2f2;
}
